thead tr{
    background-color: #007bff;;
    color: #fff;

}
th, td{
    padding: 15px 70px;


}
td{
    background-color: whitesmoke;
}
tbody tr,td,th{
    border: 0px solid #ddd;

}
a.btn.btn-primary{
    margin:100px auto;
    min-width: 0px;
    padding: 10px 40px;
    background-color: #29a9ff;
    align-items: center;

}
body{
    background-size: 100% ;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-image: url("/img/projet.jpg");
}

nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width:100%;
    margin: auto;
    padding:2rem;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}