<%- include('../commun/head'); %>
<body>
    <h3 style="font-size: 31px;text-align: center;">Outil de consultation et modification de créneau de soutenances de stage et de projet</h3>
    <div class="jumbotron text-center" style="margin: 34px;">
        <h1 class="display-3">VOUS&nbsp; ÊTES&nbsp;</h1>
        <div class="btn-group-vertical btn-group-lg d-inline-block" role="group" id="bgroup-choice"
             style="width: 597px;height: 161px;font-size: 0px;margin-top: 44px;">
            <a href="prof" class="btn btn-primary stretched-link border rounded "
               style="width: 289px;height: 101px;margin-left: 8px;font-size: 42px;">ENSEIGNANT</a>
            <a href="login" class="btn btn-primary stretched-link btn-lg border rounded"
               style="width: 289px;height: 101px;margin-left: 8px;font-size: 42px;">ÉTUDIANT</a>
        </div>
    </div>
    <a href="login">Administration</a>

</body>
<%- include('../commun/footer'); %>