<%- include('../commun/head'); %>
<body>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Adresse e-mail"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Mot de passe"></div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Connexion</button>
            </div>
            <a class="forgot" href="#">Mot de passe oublié ?</a>
            <div class="dropdown-divider"></div>
            <a class="btn btn-primary float-none" role="button" id="create-acc" href="etu/register"
               style="position: relative;width: 240px;background: rgb(188,177,179);text-align: center;margin-right: 0px;margin-left: 0px;">Créer
                un compte</a>
        </form>
    </div>

</body>
<%- include('../commun/footer'); %>