<%- include('../commun/head'); %>
<% if (alreadyRegistered){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Vous êtes déjà inscrit, merci de vous connecter.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
<%}%>
<% if (loginFailed){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        L'authentification a échoué. Merci de vérifier votre adresse e-mail et votre mot de passe.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
<%}%>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/Button-Change-Text-on-Hover.css">
<link rel="stylesheet" href="/css/Login-Form-Clean.css">
<link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">


<body>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Adresse e-mail"
                                           autocomplete="on"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Mot de passe"></div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Connexion</button>
            </div>
            <a class="forgot" href="#">Mot de passe oublié ?</a>
            <div class="dropdown-divider"></div>
            <a class="btn btn-primary float-none" role="button" id="create-acc" href="/register"
               style="position: relative;width: 240px;background: rgb(188,177,179);text-align: center;margin-right: 0px;margin-left: 0px;">Créer
                un compte</a>
        </form>
    </div>
</body>
<%- include('../commun/footer'); %>