<div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form action="/etu/register/" method="post">
                <h2 class="text-center"><strong>Créer</strong>&nbsp;un compte.</h2>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col"><input class="form-control" type="text" name="firstname" placeholder="Prénom"></div>
                        <div class="col"><input class="form-control" type="text" name="name" placeholder="Nom de famille"></div>
                    </div>
                </div>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Adresse e-mail universitaire"></div>
                <div class="form-group"><input class="form-control" type="text" name="studNo" placeholder="Numéro étudiant"></div>
                <label for="exampleFormControlSelect1">Promo
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>IG3</option>
                        <option>GBA</option>
                        <option>MAT</option>

                    </select></label>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Mot de passe"></div>
                <div class="form-group"><input class="form-control" type="password" name="password2" placeholder="Confirmer le mot de passe"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">S'inscrire</button></div>

            </form>
        </div>
    </div>
