<%- include('../commun/head'); %>

<body>
<div class="container">
    <form action="cree" method="post" class="form-title form-group">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <label for="name">Nom du groupe</label>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <input type="text" id="name" name="nomGrp"
                       size="30" placeholder="Nom groupe" required class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name2">Numéro élève A</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name2" name="numEleveA"
                       size="20" maxlength="10" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name3">Numéro élève B</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name3" name="numEleveB" value=""
                       size="20" maxlength="10" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name2">Numéro élève C</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name2" name="numEleveC" value=""
                       size="20" maxlength="10" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name3">Numéro élève D</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name3" name="numEleveD" value=""
                       size="20" maxlength="10" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name3">Numéro élève E</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name3" name="numEleveE" value=""
                       size="20" maxlength="10" class="form-control">
            </div>
        </div>
        <p>Laissez vide dans les champs en trop. Votre propre numéro est déjà pris en compte<p\>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label checkbox">
                <label for="name4">Nom tuteur</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input" >
                <input type="text" id="name4" required name="NomTuteur"
                       size="20" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name5">Prénom tuteur</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name5" required name="PrenomTuteur"
                       size="20" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 label">
                <label for="name6">Entreprise tuteur</label>
            </div>
            <div class="col-12 col-md-12 col-lg-6 input">
                <input type="text" id="name6" required name="EntrepriseTut"
                       size="20" class="form-control">
            </div>
        </div>
        <div class="button">
            <button class="btn btn-light" type="submit">Créer le groupe</button>
        </div>
    </form>
</div>

</body>

<%- include('../commun/footer'); %>
