<%- include('../commun/head'); %>

<body>
<h4>Information groupe soutenance</h4>
<div class="container" style="height: 284px;width: 1203px;padding: 0px;border-style: solid;">
    <div class="btn-group" role="group"></div>
    <div class="btn-toolbar">
        <div class="btn-group" role="group"></div>
        <div class="btn-group" role="group"></div>
    </div>
    <p>Type d'évènement : <select>
            <optgroup label="This is a group">
                <option value="12" selected="">This is item 1</option>
                <option value="13">This is item 2</option>
                <option value="14">This is item 3</option>
            </optgroup>
        </select></p>
    <p>Nombre d'étudiant<input type="number"></p>
    <ul style="border-style: solid;">
        <li>Numéro étudiant 1 <input type="number"></li>
        <li>Numéro étudiant 2 <input type="number"></li>
        <li>Numéro étudiant 3 <input type="number"></li>
        <li>Numéro étudiant<br><br><input type="number"></li>
    </ul>
</div>
</body>
<%- include('../commun/footer'); %>
