<%- include('../commun/head'); %>
<% if (typeof Registration != 'undefined' ){%>
    <div class="alert alert-success" role="alert">
        L'inscription s'est déroulée avec succès.
    </div>
<%}%>
<body>
    <div class="jumbotron text-center" style="margin: 34px;">
        <h1 class="text-left" style="font-size: 31px;text-align: center;">Espace étudiant</h1>
        <div class="row" style="margin: 81px;">
            <div class="col text-left"><a href="" class="btn btn-primary border rounded" id="b-group" type="button" style="width: 735px;height: 101px;margin: 0px;margin-right: 8px;font-size: 39px;">Consultation&nbsp; création de groupe</a></div>
        </div>
        <div class="row" style="margin: 81px;">
            <div class="col text-left"><a href = "" class="btn btn-primary border rounded" id="b-creneau" type="button" style="width: 735px;height: 101px;margin: 0px;margin-right: 8px;font-size: 39px;">Consultation et réservation de créneau</a></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

<%- include('../commun/footer'); %>