<body>
<table>
    <thead>
    <tr>
        <th>Numéro étudiant</th>
        <th>prénom</th>
        <th>nom</th>
        <th>date</th>
        <th>salle</th>
        <th>heure</th>
    </tr>
    <tbody>
    <tr>
        <td><button name="button">P1811421</button></td>
        <td><button name="button">sofia</button></td>
        <td><button name="button">bouaklayene</button></td>
        <td><input type="date" id="start" name="trip-start"
                   value="2018-07-22"
                   min="2018-01-01" max="2018-12-31"></td>
        <td><select id="monselect">
            <option value="valeur1">Salle 1</option>
            <option value="valeur2" selected>Salle 2</option>
            <option value="valeur3">Salle 3</option>
        </select>
        </td>
        <td><input type="time" id="appt" name="appt"
                   min="09:00" max="18:00" required></td>
    </tr>
    </tbody>

    </thead>
</table>
<button name="button">Modifier</button>


</body>
</html>