<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification de creneaux(etu)</title>

</head>
<body>
<fieldset>
    <legend>Veuillez séléctionner un créneau</legend>


    <table class="tableau-style2">

        <tr class="secondtable">
            <td>Le 10/01/2021</td>
            <td>Le 11/01/2021</td>
            <td>Le 12/01/2021</td>
        </tr>
        <tr>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>8h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>8h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>8h</td>
        </tr>
        <tr>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>9h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>9h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>9h</td>
        </tr>
        <tr>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>10h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>10h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>10h</td>
        </tr>
        <tr>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>11h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>11h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>11h</td>
        </tr>
        <tr>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>12h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>12h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>12h</td>
        </tr>
        <tr>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>13h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>13h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>13h</td>
        </tr>
        <tr>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>14h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>14h</td>
            <td><label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="notification.checked">
            </label>14h</td>
        </tr>





    </table>
</fieldset>
<button type="valider">Valider</button>


</body>
</html>